body {
    background-image: url(desk.jpg);
}
div {
    background-image: url(note.jpg);
    margin: auto;
    height: 640px;
    width: 480px;
    border-radius: 3px;
}
.fon {
    background-color: floralwhite;
    color: black;
    font-size: 1.6em;
    text-align: center;
    overflow: auto;
}
hr {
    border-width: 1px;
    border-color: black;
}
textarea {
    background: url(note.jpg);
    resize: none;
	width: 470px;
	height: 570px;
	border: none;
    color: black;
    font-weight: bolder;
    font-size: 1em;
}